.alert.alert-success.mb-0#fire-sport-connected{ class: person.fire_sport_statistics_person.present? ? nil : 'd-none' }
  - if remove
    .float-end
      .btn.btn-sm.btn-light#fire-sport-remove{ title: 'Verkn端pfung entfernen' }
        %i.far.fa-trash

  %i.far.fa-check.me-2
  Verkn端pft mit <strong class="first-name">#{person.fire_sport_statistics_person&.first_name}</strong> <strong class="last-name">#{person.fire_sport_statistics_person&.last_name}</strong>
  = link_to "https://feuerwehrsport-statistik.de/people/#{person.fire_sport_statistics_person_id}", target: '_blank', rel: 'noopener', title: 'Informationen 端ber diese Person auf Feuerwehrsport-Statistik.de aufrufen', class: 'btn btn-sm btn-light ms-2' do
    %i.far.fa-arrow-up-right-from-square

  - if can?(:edit, person) && person.band.gender != 'indifferent'
    .row.mt-4#gender-warning{ data: { gender: person.band.gender }, class: person.fire_sport_statistics_person&.gender == person.band.gender ? 'd-none' : '' }
      .col-md-8
        .alert.alert-warning
          %i.far.fa-warning
          Das Geschlecht passt nicht, soll das so?
.alert.alert-warning.mb-0#fire-sport-not-connected{ class: person.fire_sport_statistics_person.present? ? 'd-none' : nil }
  %i.far.fa-warning.me-2
  Keine Verkn端pfung mit einer vorhandenen Person
