= render 'competitions/header', competition: @competition, sub: "Wettkämpfer: #{@person.full_name}"

.row.g-4
  .col-md-8
    = render 'edit_assessment_requests_form'
  .col-md-4
    = render('edit_right')
