- discipline_keys = disciplines.map(&:key)
- if discipline_keys.count == 0
  .disciplines-icon-bar
- elsif discipline_keys.count == 1
  .disciplines-icon-bar.one-discipline
    %img{ src: image_path("disciplines/alt/#{discipline_keys[0]}.png") }
- else
  .disciplines-icon-bar.four-discipline
    - (1..discipline_keys.count).each do |i|
      %img{ src: image_path("disciplines/alt/#{discipline_keys[i - 1]}.png") }
