= card_body do
  %p Diese Spalten werden dir bei den Mannschaften angezeigt. Sie können dir helfen, damit du die Übersicht behältst.
  %p Beispiele sind dafür unter anderem:
  %table.table
    %tr
      %th Angereist?
      %td
        %em (Ja/Nein-Wert)
    %tr
      %th Bezahlt?
      %td
        %em (Datum)
    %tr
      %th Übernachtung?
      %td
        %em (Freitext)
