= render 'devise/header'

.row
  .col-md-8
    = render('form')
  .col-md-4
    = card('Hinweise') do |c|
      - c.body do
        Hier kannst du dir ein Nutzerkonto registrieren. Bitte nutze sichere Passwörter und speichere Sie dir im Zweifel ab. Schlecht gespeichert ist besser, als leicht zu erraten. Im Anschluss musst du deine E-Mail-Adresse bestätigen.
