%tr
  %th{ class: generator_class.in?(@list_factory.possible_types) ? nil : 'text-muted small' }= generator_class.model_name.human
  %td{ class: generator_class.in?(@list_factory.possible_types) ? nil : 'text-muted small' }= generator_class.human_attribute_name(:description)
