
.row
  .col-md-8.mb-2
    .card
      .card-header
        Wettkämpfe

%table
  - @competitions.each do |competition|
    %tr
      %td= link_to competition.name, competition_show_path(competition.year, competition.slug)
      %td= competition.visible?
      %td= competition.date
