= card(t('a.actions')) do |card|
  - card.primary_actions do |actions|
    - actions.link_to 'Übersicht', { action: :index }, end_icon: :list
  - card.body do
    .d-grid.gap-2
      = btn_link_to 'Mannschaften importieren', new_competition_team_import_path
