= card(t('a.actions')) do |c|
  - c.primary_actions do |actions|
    - actions.link_to 'Übersicht', { action: :index }, end_icon: :list
  - c.body do
    .d-grid.gap-2
      = btn_link_to 'Mannschaften importieren', new_competition_team_import_path
