= card do |card|
  - card.title 'Vorlage hinzufügen'
  - card.body do
    .d-grid.gap-2
      - Discipline::DISCIPLINES.each do |key|
        - next if key == 'other'

        = button_to({ action: :create }, params: { discipline: { key:, name: Discipline::DEFAULT_NAMES[key], short_name: key.upcase, single_discipline: Discipline::DEFAULT_SINGLE_DISCIPLINES[key], like_fire_relay: key == 'fs' } }, class: 'btn btn-light btn-sm') do
          = discipline_image(key)
          = Discipline::DEFAULT_NAMES[key]
