= page do |page|
  = page.tabs do |tabs|
    = tabs.link_to 'Aktuell', root_path, active: params[:year].blank?
    - @years.each do |year|
      = tabs.link_to year, root_path(year:), active: params[:year] == year.to_s
