- page_title('Überblick')

.row
  .col-lg-6.pb-4
    = render('competitions_card', header: 'Laufende Wettkämpfe', competitions: Competition.current)
    = render('competitions_card', header: 'Kommende Wettkämpfe', competitions: Competition.upcoming)
    = render('competitions_card', header: 'Vergangene Wettkämpfe', competitions: Competition.previous)

  .col-lg-6.pb-4
    = render('info_card')
