- page_title('Fehler 404 - Seite nicht gefunden')

- content_for :page_header do
  %h1 Fehler 404
  %p.lead.mb-0 Seite nicht gefunden

.row.g-4
  .col-lg-6
    = card_body('Mögliche Ursachen') do
      %ul
        %li Programmfehler
        %li Manuelle (falsche) Eingabe einer URL
        %li URL ist nicht <em>mehr</em> vorhanden (z. B. Element wurde gelöscht)
  .col-lg-6
    = card_body('Mögliche Lösungen') do
      %ul
        %li Erneut probieren
        %li <em>Aktualisieren</em> der Browser-Seite
        %li #{link_to('Entwickler', info_path)} über Fehler benachrichtigen
