= card_body do
  %p Diese Bedingungen gelten für das automatische Erstellen der Startliste. Außerdem wird beim Verschieben angezeigt, wenn sie nicht mehr eingehalten werden. Man ließt es so:

  %p <em>Mannschaft 1 nicht im gleichen Lauf wie Mannschaft 2</em>

  %p Wenn beim automatischen Erstellen keine gültige Reihenfolge gefunden wird, werden die Bedingungen immer weiter aufgeweicht, bis eine Startliste erzeugt werden kann.
