- c.body do
  = f.input :title
  = f.input :file, hint: 'Wenn du eine neue Datei angibst, wird die vorhandene Datei ersetzt.'
- c.footer do
  = f.primary_button :submit, 'Hochladen'
  = f.cancel_button(competition_show_path)
