= card_body('Erläuterung') do
  %p Hier kannst du Vorlagen für Urkunden anlegen, die später mit den Ergebnislisten automatisch ausgefüllt werden.
  .alert.alert-info Bitte beachte, dass diese Funktionen nur mit Firefox und Chrome ausführlich getestet wurden.
