= card('Erläuterung') do |card|
  - card.body do
    %p Hier können Sie Vorlagen für Urkunden anlegen, die später mit den Ergebnislisten automatisch ausgefüllt werden.
    .alert.alert-danger Bitte beachten Sie, dass diese Funktionen nur mit Firefox und Chrome ausführlich getestet wurden.
