@import bootstrap/bootstrap

@import fontawesome/fontawesome
@import fontawesome/regular

@import "easymde/dist/easymde.min"
@import social_share_buttons
@import certificates
@import form
@import sortable
@import vertical_scroll


.navbar-brand
  padding-block: 0
  opacity: 0.75
  transition: opacity 0.3s ease-in-out

  &:hover
    opacity: 1

  svg
    margin-top: -2px
    width: 2rem
    fill: $white

.page-header
  @extend .text-bg-light, .bg-white
  margin-top: -1px
  padding-block: 1rem
  box-shadow: $box-shadow-sm

  @include media-breakpoint-up(xl)
    padding-block: 1.5rem 3rem

  p.lead
    background-color: $fs-yellow
    padding: 0.1rem 0.75rem
    display: inline-block
    transform: skew(-10deg, 0deg)
    @include media-breakpoint-down(md)
      font-size: calc(0.8rem + 1vw)

  h1
    @include media-breakpoint-down(md)
      font-size: calc(1rem + 2.4vw)

.page-tabs
  @extend .text-bg-light, .bg-white
  padding-block: 0.5rem
  margin-top: -1px
  box-shadow: $box-shadow-sm
  border: 0 solid darken($fs-gray, 5%)
  border-top-width: 1px

  @include media-breakpoint-up(xl)
    margin-top: -2rem

  @include media-breakpoint-down(sm)
    .nav-item a
      padding-left: 0.5rem
      padding-right: 0.5rem

.nav-tabs-responsive
  overflow-x: auto
  white-space: nowrap
  flex-wrap: nowrap
  scroll-snap-type: x mandatory
  scroll-behavior: smooth

  > .nav-item
    scroll-snap-align: end

    &.dropdown
      position: static

@include media-breakpoint-down(sm)
  .row > *
    padding-right: calc(var(--bs-gutter-x) * 0.3)
    padding-left: calc(var(--bs-gutter-x) * 0.3)

.sm
  font-size: 0.8rem

.card
  background-color: $white
  overflow: hidden

  > .card-header:first-child, .card-img-top
    border-radius: var(--bs-card-border-radius) var(--bs-card-border-radius) 0 0

  > .card-header
    border: 1px solid hsl(30 17% 88% / 1)
    border-width: 1px 0

    &:first-child
      border-top-width: 0

    > h1, h2, h3
      @extend .display-6

  > .card-footer
    background-color: transparent

  > .table
    @include media-breakpoint-down(sm)
      td, tr, .btn
        font-size: calc(0.4rem + 1.5vw)
      td, tr
        padding-left: calc(0.2rem + 0.5vw)
        padding-right: calc(0.2rem + 0.5vw)
    > thead, tbody
      > tr 
        > th:first-child, > td:first-child
          padding-left: calc(0.5rem + 0.5vw)
          border-left: 0
        > th:last-child, > td:last-child
          padding-right: calc(0.5rem + 0.5vw)
          border-right: 0

.text-bg-accent2
  --bs-card-cap-bg: #{darken($accent2, 5%)}

.text-bg-dark
  .nav
    --bs-nav-link-color: #{$light}
    --bs-nav-link-hover-color: #{darken($light, 20%)}

    .dropdown-menu
      --bs-nav-link-color: #{$dark}
      --bs-nav-link-hover-color: #{darken($dark, 20%)}

.card
  box-shadow: $box-shadow-sm

.card > .table
  margin-top: 1rem
  
  tr:last-child
    td, th
      border-bottom-width: 0

.hide-xs
  @include media-breakpoint-only(xs)
    display: none

.scroll-x
  overflow-x: auto

.btn-primary, .card-primary-action
  --bs-btn-color: #{$white}
  --bs-btn-active-color: #{$white}
  --bs-btn-active-bg: #{darken($primary, 15%)}
  --bs-btn-hover-color: #{$white}
  --bs-btn-hover-bg: #{darken($primary, 7.5%)}

.card-primary-action
  @extend .btn, .btn-primary
  border-radius: 0
  line-height: 2

  > .far
    margin-left: 0.25rem

.disciplines-icon-bar
  display: flex
  align-items: center
  gap: 0.5rem

  > img
    display: block
    height: 3rem
    width: 3rem
    background-color: $accent1
    padding: 3px
    border-radius: 3px

.discipline-icons
  width: 2.25rem
  display: flex
  flex-wrap: wrap
  align-items: center
  gap: 0.25rem

  > img
    display: block
    height: 1rem
    width: 1rem

  &.one-discipline
    > img
      height: 2.1rem
      width: 2.1rem

.current-competition
  background-color: #ebbbbb4f
.current-competition *
  font-weight: bold

.competition-descripton
  table
    width: 90%
    margin: 1rem auto
    @include media-breakpoint-only(xs)
      width: 98%
    td, th
      padding: 0.2rem
      border: 0.01rem solid darken($fs-gray, 5%)
      @include media-breakpoint-only(xs)
        font-size: 0.9rem
    th
      text-align: center

.assessment-request
  border: 1px solid $light
  margin: 0.4rem
  padding: 0.4rem
.quick-assessment-change-link
  color: #999
  cursor: pointer
  &:hover
    color: #000


.tiny
  font-size: 71%

.next-run
  border-bottom: 2px solid black

.suggestions-entries
  overflow: auto
  height: 200px
  border: 1px solid $light
  margin-bottom: 10px
  .first_name, .last_name
    width: 33%
  .team
    width: 33%
    font-size: 10px
  tr
    cursor: pointer
  tr:hover
    background-color: $light

span.best-badge, span.team-badge
  display: inline-block
  min-width: 18px
  padding: 4px 4px
  font-size: 10px
  color: #fff
  line-height: 1
  white-space: nowrap
  text-align: center
  border-radius: 7px
  background-color: #daecf7
  min-height: 18px
  font-weight: bold
  cursor: help
  vertical-align: middle
  float: right
  &.personal-best
    background-color: #b2dbb2

.balloon-tip
  position: absolute
  background: white
  border: 1px solid $light
  padding: 1rem
  font-size: 0.8em
  border-radius: $border-radius $border-radius 0 0

  img.statistiken-logo
    height: 2em
    margin: 8px
  table img
    height: 1em
    width: 1em



.feusport-modal
  display: none
  position: fixed
  z-index: 1
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background-color: rgb(0,0,0)
  background-color: rgba(0,0,0,0.4)

.feusport-modal-content
  background-color: #fefefe
  margin: 15% auto
  padding: 0
  border: 1px solid #888
  width: 80%
  max-width: 50rem

.separate-times
  font-size: 80%

tr.best-time-of-rund td, tr.best-time-of-rund th
  background-color: #d9ffe1
