@import bootstrap/bootstrap

@import fontawesome/fontawesome
@import fontawesome/regular

@import "easymde/dist/easymde.min"
@import social_share_buttons
@import certificates

.navbar-brand
  padding-block: 0
  opacity: 0.75
  transition: opacity 0.3s ease-in-out

  &:hover
    opacity: 1

  svg
    margin-top: -2px
    width: 2rem
    fill: $white

.page-header
  @extend .text-bg-light, .bg-white
  margin-top: -1px
  padding-block: 1rem
  box-shadow: $box-shadow-sm

  @include media-breakpoint-up(xl)
    padding-block: 1.5rem 3rem

  p.lead
    background-color: $fs-yellow
    padding: 0.1rem 0.75rem
    display: inline-block
    transform: skew(-10deg, 0deg)

.page-tabs
  @extend .text-bg-light, .bg-white
  padding-block: 0.5rem
  margin-top: -1px
  box-shadow: $box-shadow-sm
  border: 0 solid darken($fs-gray, 5%)
  border-top-width: 1px

  @include media-breakpoint-up(xl)
    margin-top: -2rem

  // .nav
  //   gap: 5px
  //   --bs-nav-tabs-border-width: 0
  //   --bs-nav-link-color: #{$white}
  //   --bs-nav-link-hover-color: #{tint-color($primary, 50%)}

  //   .nav-link
  //     background-color: lighten($accent1, 5%)

  //     &.active
  //       background-color: $primary

.nav-tabs-responsive
  overflow-x: auto
  white-space: nowrap
  flex-wrap: nowrap
  scroll-snap-type: x mandatory
  scroll-behavior: smooth

  > .nav-item
    scroll-snap-align: end

    // > .active
    //  // TODO show by default
    //  // scroll-snap-align: end

    &.dropdown
      position: static

.stretched-links-row
  @extend .row
  @extend .position-relative

  &:hover
    background-color: $light

.sm
  font-size: 0.8rem

.form-group.boolean
  margin-bottom: 2rem
  small
    margin-left: -1.5rem
    display: block

.form-group.hidden
  display: none

.btn-toolbar, .card-footer
  input[type=submit] + a, button + a
    margin-left: 0.25rem

.card
  background-color: $white
  overflow: hidden

  > .card-header:first-child, .card-img-top
    border-radius: var(--bs-card-border-radius) var(--bs-card-border-radius) 0 0

  > .card-header
    border: 1px solid hsl(30 17% 88% / 1)
    border-width: 1px 0

    &:first-child
      border-top-width: 0

    > h1, h2, h3
      @extend .display-6

  > .card-footer
    background-color: transparent

  > .table
    > thead, tbody
      > tr 
        > th:first-child, > td:first-child
          padding-left: var(--bs-card-spacer-x)
        > th:last-child, > td:last-child
          padding-right: var(--bs-card-spacer-x)

.text-bg-accent2
  --bs-card-cap-bg: #{darken($accent2, 5%)}

.text-bg-dark
  .nav
    --bs-nav-link-color: #{$light}
    --bs-nav-link-hover-color: #{darken($light, 20%)}

    .dropdown-menu
      --bs-nav-link-color: #{$dark}
      --bs-nav-link-hover-color: #{darken($dark, 20%)}

.card
  box-shadow: $box-shadow-sm

.card > .table
  margin-top: 1rem
  
  tr:last-child
    td, th
      border-bottom-width: 0

.btn-primary, .card-primary-action
  --bs-btn-color: #{$white}
  --bs-btn-active-color: #{$white}
  --bs-btn-active-bg: #{darken($primary, 15%)}
  --bs-btn-hover-color: #{$white}
  --bs-btn-hover-bg: #{darken($primary, 7.5%)}

.card-primary-action
  @extend .btn, .btn-primary
  border-radius: 0
  line-height: 2

  > .far
    margin-left: 0.25rem

.disciplines-icon-bar
  display: flex
  align-items: center
  gap: 0.5rem

  > img
    display: block
    height: 3rem
    width: 3rem
    background-color: $accent1
    padding: 3px
    border-radius: 3px

.discipline-icons
  width: 2.25rem
  display: flex
  flex-wrap: wrap
  align-items: center
  gap: 0.25rem

  > img
    display: block
    height: 1rem
    width: 1rem

  &.one-discipline
    > img
      height: 2.1rem
      width: 2.1rem

.list-competitions

  .list-group-item
    width: 90%
    margin-bottom: 1rem
    border-radius: 0.2rem
    background: $light
    cursor: pointer
    transition: all 0.3s ease-in-out

    &:hover
      transform: scaleX(1.1)

  .about span
    font-size: 12px
    margin-right: 10px


.form-group.discipline_key
  .form-check
    display: inline-block

  [type=radio]
    position: absolute
    opacity: 0
    width: 0
    height: 0
  [type=radio] + label
    cursor: pointer

  [type=radio]:checked + label
    outline: 0.2rem solid $primary


.assessment-request
  border: 1px solid $light
  margin: 0.4rem
  padding: 0.4rem

.tiny
  font-size: 71%

.next-run
  border-bottom: 2px solid black

.sorted-table tbody tr, .sortable-list
  cursor: move

.sortable-chosen
  td, th
    background-color: $light
.sortable-ghost
  td, th
    background-color: $light
.sortable-drag
  td, th
    background-color: $info

li.sortable-chosen
  background-color: $light
li.sortable-ghost
  background-color: $light
li.sortable-drag
  background-color: $info

.animate-fade-out
  animation: animate-fade-out 0.5s both

@keyframes animate-fade-out
  0%
    opacity: 1
  100%
    opacity: 0

.animate-fade-in
  animation: animate-fade-in 0.5s both

@keyframes animate-fade-in
  0%
    opacity: 0
  100%
    opacity: 1

.suggestions-entries
  overflow: auto
  height: 200px
  border: 1px solid $light
  margin-bottom: 10px
  .first_name, .last_name
    width: 33%
  .team
    width: 33%
    font-size: 10px
  tr
    cursor: pointer
  tr:hover
    background-color: $light

span.best-badge, span.team-badge
  display: inline-block
  min-width: 18px
  padding: 4px 4px
  font-size: 10px
  color: #fff
  line-height: 1
  white-space: nowrap
  text-align: center
  border-radius: 7px
  background-color: #daecf7
  min-height: 18px
  font-weight: bold
  cursor: help
  vertical-align: middle
  float: right
  &.personal-best
    background-color: #b2dbb2

.balloon-tip
  position: absolute
  background: white
  border: 1px solid $light
  padding: 1rem
  font-size: 0.8em
  border-radius: $border-radius $border-radius 0 0

  img.statistiken-logo
    height: 2em
    margin: 8px
  table img
    height: 1em
    width: 1em


fieldset.group
  border: var(--bs-border-width) solid #e0dad7
  border-radius: $border-radius
  margin: 0.25rem
  padding: 0.5rem

  legend
    font-size: 1.3rem



.time-types
  border-left: 1px solid $light
  input
    margin-right: 0.6rem
  span
    display: block
    margin-left: 0.8rem
    label
      font-size: 0.7rem
      margin-bottom: 0
.time-entries
  label
    font-size: 0.6rem
    font-weight: normal
  .form-group
    display: inline-block
    text-align: center
    margin-left: 6px
  input
    width: 6rem
  &.disabled-time-entries
    opacity: 0.3


.feusport-modal
  display: none
  position: fixed
  z-index: 1
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background-color: rgb(0,0,0)
  background-color: rgba(0,0,0,0.4)

.feusport-modal-content
  background-color: #fefefe
  margin: 15% auto
  padding: 0
  border: 1px solid #888
  width: 80%
