@import bootstrap

@import fontawesome/fontawesome
@import fontawesome/regular

@import "easymde/dist/easymde.min"

.navbar-brand img
  width: 2rem

.stretched-links-row
   @extend .row
   @extend .position-relative

   &:hover
    background-color: $light

.sm
  font-size: 0.8rem