- free ||= ''
- if participations.present?
  %table.team_assessments
    - participations.each do |participation|
      %tr
        %th.hide-xs= participation.assessment.discipline.upcase
        %td= participation.result_entry_with_points
- else
  %div= free
