= card_direct(round.name) do
  %table.table.table-sm.small
    %thead
      %tr
        %th Ort
        %th Datum
    %tbody
      - round.showable_cups(@competition).each do |cup|
        %tr
          %td= cup.competition_place
          %td= l(cup.competition_date)
