= card('Aktionen') do |card|
  - card.body do
    .d-grid.gap-2
      = btn_link_to 'Export als PDF', { format: :pdf }, target: '_blank', rel: 'noopener'
      = btn_link_to 'Export als XLSX', { format: :xlsx }, target: '_blank', rel: 'noopener'
